@use 'sass:math';

.card {
  display: block;
  padding: $base-padding;
  border: $base-border-width solid #ddd;
  box-shadow: $base-box-shadow;
  border-radius: math.div($base-border-radius, 2);

  .card-title {
    font-size: $font-size-lg;
    padding-bottom: $base-padding;
    font-weight: bold;
  }
  .card-body {
    font-size: $base-font-size;

    a {
      text-decoration: underline;
    }
  }
}

.nav-card {
  min-width: 250px;

  .card-title {
    background-color: #fff;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: $base-box-shadow;
    font-size: $base-font-size;
  }

  .card-image {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: $base-box-shadow;

    img {
      width: 100%;
    }
  }

  .icon {
    width: 40px;
    padding: 2px;
    margin-left: auto;
    margin-top: -30px;
  }
}
