.form {
  margin: 60px auto;
  padding: 40px;
  border: $auth-form-border;
  box-shadow: $base-box-shadow;

  label {
    display: block;
    margin: 24px auto;

    span {
      display: block;
      margin-bottom: 6px;
    }
    input {
      width: 100%;
      padding: 8px 6px;
      font-size: $base-font-size;
      color: #777;
      box-sizing: border-box;
      border: $auth-form-border;
      border-radius: $base-border-radius;
    }
    textarea {
      width: 100%;
      padding: 8px 6px;
      min-height: 60px;
      font-size: $base-font-size;
      border: $auth-form-border;
      border-radius: $base-border-radius;
    }
    select {
      width: 100%;
      padding: 8px 6px;
      font-size: $base-font-size;
      color: #777;
      box-sizing: border-box;
      border: $auth-form-border;
      border-radius: $base-border-radius;
    }
  }
}

.auth-form {
  max-width: 360px;
}

.plant-form {
  max-width: 640px;
}
