.navbar {
  width: 100%;
  padding: 30px 0;
  box-sizing: border-box;
  margin-bottom: 80px;
  position: sticky;

  .logo {
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-right: auto;

    a {
      display: flex;
      align-items: center;
    }

    img {
      margin-right: 10px;
      filter: invert(25%);
      width: 36px;
      margin-top: -8px;
    }
  }

  ul {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;

    a {
      margin-right: 20px;
      color: #333;
    }

    button {
      font: inherit;
      padding: 4px 10px;
    }
  }
}
