.auth-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 40px;
  border: $auth-form-border;
  box-shadow: $base-box-shadow;

  label {
    display: block;
    margin: 24px auto;

    span {
      display: block;
      margin-bottom: 6px;
    }
    input {
      padding: 8px 6px;
      font-size: $base-font-size;
      color: #777;
      width: 100%;
      box-sizing: border-box;
      border: inherit;
      border-radius: $base-border-radius;
    }
  }
}
