.navbar {
  width: 100%;
  box-shadow: $base-box-shadow;
  padding: $base-padding 0;
  box-sizing: border-box;

  .navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-right: auto;

    img {
      position: fixed;
      height: 58px;
      width: 180px;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .navbar-text {
      display: block;
      margin: -$base-padding;
      padding: 10px 14px 12px 32px;
    }
  }

  ul {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;

    a {
      margin-right: 20px;
    }

    button {
      padding: 8px 12px;
    }
  }
}
