@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #f4f4f4;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.text-error {
  color: #983051;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.btn-outlined-secondary {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #937e81;
}
.btn-outlined-secondary:hover {
  background-color: #937e81;
}

.navbar {
  width: 100%;
  padding: 30px 0;
  box-sizing: border-box;
  margin-bottom: 80px;
}
.navbar .logo {
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar .logo a {
  display: flex;
  align-items: center;
}
.navbar .logo img {
  margin-right: 10px;
  filter: invert(25%);
  width: 36px;
  margin-top: -8px;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
}
.navbar ul a {
  margin-right: 20px;
  color: #333;
}
.navbar ul button {
  font: inherit;
  padding: 4px 10px;
}

.sidebar {
  width: 200px;
  min-width: 200px;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}
.sidebar .sidebar-content {
  position: fixed;
  width: inherit;
}
.sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px 30px;
  border-bottom: 1px solid #333;
}
.sidebar .links {
  margin-top: 80px;
}
.sidebar .links li {
  margin-top: 20px;
}
.sidebar .links a {
  display: flex;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.sidebar .links img {
  margin-right: 10px;
  filter: invert(40%);
}

.auth-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.auth-form label {
  display: block;
  margin: 24px auto;
}
.auth-form label span {
  display: block;
  margin-bottom: 6px;
}
.auth-form label input {
  padding: 8px 6px;
  font-size: 1rem;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.mr-2 {
  margin-right: 1.5em;
}

.mt-1 {
  margin-top: 0.75em;
}

.center-self {
  display: block;
  margin: 0 auto;
}