@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #f4f4f4;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.justify-center {
  justify-content: center;
}
@media (min-width: 480px) {

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
}
@media (min-width: 960px) {

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
}
@media (min-width: 1200px) {

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}

.text-secondary {
  color: #937e81;
}

.text-error {
  color: #983051;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.btn-outlined-secondary {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #937e81;
}
.btn-outlined-secondary:hover {
  background-color: #937e81;
}

.nav-card {
  min-width: 250px;
}
.nav-card .card-title {
  background-color: #fff;
  text-align: center;
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}
.nav-card .card-image {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.nav-card .card-image img {
  width: 100%;
}
.nav-card .water-drop {
  padding: 2px;
  position: relative;
  margin-left: auto;
  margin-top: -30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.nav-card .water-drop p {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 13px;
}
.nav-card .water-drop .wet {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #5382d8;
  border-radius: 50%;
}
.nav-card .water-drop .wet img {
  filter: invert(100%);
}
.nav-card .water-drop .dry {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #d64b39;
  border-radius: 50%;
}
.nav-card .water-drop .dry img {
  filter: invert(100%);
}
.nav-card .water-drop img {
  filter: invert(30%);
  width: 100%;
}

.navbar {
  width: 100%;
  padding: 30px 0;
  box-sizing: border-box;
  margin-bottom: 80px;
  position: sticky;
}
.navbar .logo {
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar .logo a {
  display: flex;
  align-items: center;
}
.navbar .logo img {
  margin-right: 10px;
  filter: invert(25%);
  width: 36px;
  margin-top: -8px;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
}
.navbar ul a {
  margin-right: 20px;
  color: #333;
}
.navbar ul button {
  font: inherit;
  padding: 4px 10px;
}

.sidebar {
  width: 200px;
  min-width: 200px;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  padding-right: 30px;
}
.sidebar .sidebar-content {
  position: fixed;
  width: inherit;
}
.sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px 30px;
}
.sidebar .links {
  margin-top: 80px;
  margin-right: 30px;
}
.sidebar .links li {
  margin-top: 20px;
}
.sidebar .links a {
  display: flex;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.sidebar .links img {
  margin-right: 10px;
  filter: invert(40%);
}

.form {
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.form .section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 8px;
  margin-top: 34px;
}
.form label {
  display: block;
  margin: 0px auto 24px;
}
.form label span {
  display: block;
  margin-bottom: 6px;
}
.form label input {
  width: 100%;
  padding: 8px 6px;
  font-size: 1rem;
  color: #777;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.form label textarea {
  width: 100%;
  padding: 8px 6px;
  min-height: 60px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.form label select {
  width: 100%;
  padding: 8px 6px;
  font-size: 1rem;
  color: #777;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.auth-form {
  max-width: 360px;
}

.plant-form {
  max-width: 640px;
}

.input-with-add {
  display: flex;
  align-items: center;
}

.details-main .date {
  color: #777;
}
.details-main .details-base {
  display: flex;
}
.details-main .details-base img {
  display: flex;
  align-items: center;
  margin-right: 30px;
  width: 300px;
  max-height: 400px;
  border-radius: 25px;
}
.details-main .details-base p {
  margin: 10px 0;
}

.ml-1 {
  margin-left: 0.75em;
}

.mr-2 {
  margin-right: 1.5em;
}

.mt-1 {
  margin-top: 0.75em;
}

.mt-2 {
  margin-top: 1.5em;
}

.center-self {
  display: block;
  margin: 0 auto;
  text-align: center;
}