@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #f4f4f4;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

@media (min-width: 0) {
  .responsive-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .responsive-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .responsive-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .responsive-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .responsive-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .responsive-test {
    color: pink;
  }
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-primary {
  color: #4e7261;
}

.text-hover-primary:hover {
  color: #4e7261;
}

.bg-primary {
  background-color: #4e7261;
}

.text-primary-light-1 {
  color: #608071;
}

.text-hover-primary-light-1:hover {
  color: #608071;
}

.bg-primary-light-1 {
  background-color: #608071;
}

.text-primary-light-2 {
  color: #718e81;
}

.text-hover-primary-light-2:hover {
  color: #718e81;
}

.bg-primary-light-2 {
  background-color: #718e81;
}

.text-primary-light-3 {
  color: #839c90;
}

.text-hover-primary-light-3:hover {
  color: #839c90;
}

.bg-primary-light-3 {
  background-color: #839c90;
}

.text-primary-light-4 {
  color: #95aaa0;
}

.text-hover-primary-light-4:hover {
  color: #95aaa0;
}

.bg-primary-light-4 {
  background-color: #95aaa0;
}

.text-primary-light-5 {
  color: #a7b9b0;
}

.text-hover-primary-light-5:hover {
  color: #a7b9b0;
}

.bg-primary-light-5 {
  background-color: #a7b9b0;
}

.text-primary-light-6 {
  color: #b8c7c0;
}

.text-hover-primary-light-6:hover {
  color: #b8c7c0;
}

.bg-primary-light-6 {
  background-color: #b8c7c0;
}

.text-primary-light-7 {
  color: #cad5d0;
}

.text-hover-primary-light-7:hover {
  color: #cad5d0;
}

.bg-primary-light-7 {
  background-color: #cad5d0;
}

.text-primary-light-8 {
  color: #dce3df;
}

.text-hover-primary-light-8:hover {
  color: #dce3df;
}

.bg-primary-light-8 {
  background-color: #dce3df;
}

.text-primary-light-9 {
  color: #edf1ef;
}

.text-hover-primary-light-9:hover {
  color: #edf1ef;
}

.bg-primary-light-9 {
  background-color: #edf1ef;
}

.text-primary-dark-1 {
  color: #466757;
}

.text-hover-primary-dark-1:hover {
  color: #466757;
}

.bg-primary-dark-1 {
  background-color: #466757;
}

.text-primary-dark-2 {
  color: #3e5b4e;
}

.text-hover-primary-dark-2:hover {
  color: #3e5b4e;
}

.bg-primary-dark-2 {
  background-color: #3e5b4e;
}

.text-primary-dark-3 {
  color: #375044;
}

.text-hover-primary-dark-3:hover {
  color: #375044;
}

.bg-primary-dark-3 {
  background-color: #375044;
}

.text-primary-dark-4 {
  color: #2f443a;
}

.text-hover-primary-dark-4:hover {
  color: #2f443a;
}

.bg-primary-dark-4 {
  background-color: #2f443a;
}

.text-primary-dark-5 {
  color: #273931;
}

.text-hover-primary-dark-5:hover {
  color: #273931;
}

.bg-primary-dark-5 {
  background-color: #273931;
}

.text-primary-dark-6 {
  color: #1f2e27;
}

.text-hover-primary-dark-6:hover {
  color: #1f2e27;
}

.bg-primary-dark-6 {
  background-color: #1f2e27;
}

.text-primary-dark-7 {
  color: #17221d;
}

.text-hover-primary-dark-7:hover {
  color: #17221d;
}

.bg-primary-dark-7 {
  background-color: #17221d;
}

.text-primary-dark-8 {
  color: #101713;
}

.text-hover-primary-dark-8:hover {
  color: #101713;
}

.bg-primary-dark-8 {
  background-color: #101713;
}

.text-primary-dark-9 {
  color: #080b0a;
}

.text-hover-primary-dark-9:hover {
  color: #080b0a;
}

.bg-primary-dark-9 {
  background-color: #080b0a;
}

.text-secondary {
  color: #937e81;
}

.text-hover-secondary:hover {
  color: #937e81;
}

.bg-secondary {
  background-color: #937e81;
}

.text-secondary-light-1 {
  color: #9e8b8e;
}

.text-hover-secondary-light-1:hover {
  color: #9e8b8e;
}

.bg-secondary-light-1 {
  background-color: #9e8b8e;
}

.text-secondary-light-2 {
  color: #a9989a;
}

.text-hover-secondary-light-2:hover {
  color: #a9989a;
}

.bg-secondary-light-2 {
  background-color: #a9989a;
}

.text-secondary-light-3 {
  color: #b3a5a7;
}

.text-hover-secondary-light-3:hover {
  color: #b3a5a7;
}

.bg-secondary-light-3 {
  background-color: #b3a5a7;
}

.text-secondary-light-4 {
  color: #beb2b3;
}

.text-hover-secondary-light-4:hover {
  color: #beb2b3;
}

.bg-secondary-light-4 {
  background-color: #beb2b3;
}

.text-secondary-light-5 {
  color: #c9bfc0;
}

.text-hover-secondary-light-5:hover {
  color: #c9bfc0;
}

.bg-secondary-light-5 {
  background-color: #c9bfc0;
}

.text-secondary-light-6 {
  color: #d4cbcd;
}

.text-hover-secondary-light-6:hover {
  color: #d4cbcd;
}

.bg-secondary-light-6 {
  background-color: #d4cbcd;
}

.text-secondary-light-7 {
  color: #dfd8d9;
}

.text-hover-secondary-light-7:hover {
  color: #dfd8d9;
}

.bg-secondary-light-7 {
  background-color: #dfd8d9;
}

.text-secondary-light-8 {
  color: #e9e5e6;
}

.text-hover-secondary-light-8:hover {
  color: #e9e5e6;
}

.bg-secondary-light-8 {
  background-color: #e9e5e6;
}

.text-secondary-light-9 {
  color: #f4f2f2;
}

.text-hover-secondary-light-9:hover {
  color: #f4f2f2;
}

.bg-secondary-light-9 {
  background-color: #f4f2f2;
}

.text-secondary-dark-1 {
  color: #847174;
}

.text-hover-secondary-dark-1:hover {
  color: #847174;
}

.bg-secondary-dark-1 {
  background-color: #847174;
}

.text-secondary-dark-2 {
  color: #766567;
}

.text-hover-secondary-dark-2:hover {
  color: #766567;
}

.bg-secondary-dark-2 {
  background-color: #766567;
}

.text-secondary-dark-3 {
  color: #67585a;
}

.text-hover-secondary-dark-3:hover {
  color: #67585a;
}

.bg-secondary-dark-3 {
  background-color: #67585a;
}

.text-secondary-dark-4 {
  color: #584c4d;
}

.text-hover-secondary-dark-4:hover {
  color: #584c4d;
}

.bg-secondary-dark-4 {
  background-color: #584c4d;
}

.text-secondary-dark-5 {
  color: #4a3f41;
}

.text-hover-secondary-dark-5:hover {
  color: #4a3f41;
}

.bg-secondary-dark-5 {
  background-color: #4a3f41;
}

.text-secondary-dark-6 {
  color: #3b3234;
}

.text-hover-secondary-dark-6:hover {
  color: #3b3234;
}

.bg-secondary-dark-6 {
  background-color: #3b3234;
}

.text-secondary-dark-7 {
  color: #2c2627;
}

.text-hover-secondary-dark-7:hover {
  color: #2c2627;
}

.bg-secondary-dark-7 {
  background-color: #2c2627;
}

.text-secondary-dark-8 {
  color: #1d191a;
}

.text-hover-secondary-dark-8:hover {
  color: #1d191a;
}

.bg-secondary-dark-8 {
  background-color: #1d191a;
}

.text-secondary-dark-9 {
  color: #0f0d0d;
}

.text-hover-secondary-dark-9:hover {
  color: #0f0d0d;
}

.bg-secondary-dark-9 {
  background-color: #0f0d0d;
}

.text-info {
  color: #e0b6bd;
}

.text-hover-info:hover {
  color: #e0b6bd;
}

.bg-info {
  background-color: #e0b6bd;
}

.text-info-light-1 {
  color: #e3bdc4;
}

.text-hover-info-light-1:hover {
  color: #e3bdc4;
}

.bg-info-light-1 {
  background-color: #e3bdc4;
}

.text-info-light-2 {
  color: #e6c5ca;
}

.text-hover-info-light-2:hover {
  color: #e6c5ca;
}

.bg-info-light-2 {
  background-color: #e6c5ca;
}

.text-info-light-3 {
  color: #e9ccd1;
}

.text-hover-info-light-3:hover {
  color: #e9ccd1;
}

.bg-info-light-3 {
  background-color: #e9ccd1;
}

.text-info-light-4 {
  color: #ecd3d7;
}

.text-hover-info-light-4:hover {
  color: #ecd3d7;
}

.bg-info-light-4 {
  background-color: #ecd3d7;
}

.text-info-light-5 {
  color: #f0dbde;
}

.text-hover-info-light-5:hover {
  color: #f0dbde;
}

.bg-info-light-5 {
  background-color: #f0dbde;
}

.text-info-light-6 {
  color: #f3e2e5;
}

.text-hover-info-light-6:hover {
  color: #f3e2e5;
}

.bg-info-light-6 {
  background-color: #f3e2e5;
}

.text-info-light-7 {
  color: #f6e9eb;
}

.text-hover-info-light-7:hover {
  color: #f6e9eb;
}

.bg-info-light-7 {
  background-color: #f6e9eb;
}

.text-info-light-8 {
  color: #f9f0f2;
}

.text-hover-info-light-8:hover {
  color: #f9f0f2;
}

.bg-info-light-8 {
  background-color: #f9f0f2;
}

.text-info-light-9 {
  color: #fcf8f8;
}

.text-hover-info-light-9:hover {
  color: #fcf8f8;
}

.bg-info-light-9 {
  background-color: #fcf8f8;
}

.text-info-dark-1 {
  color: #caa4aa;
}

.text-hover-info-dark-1:hover {
  color: #caa4aa;
}

.bg-info-dark-1 {
  background-color: #caa4aa;
}

.text-info-dark-2 {
  color: #b39297;
}

.text-hover-info-dark-2:hover {
  color: #b39297;
}

.bg-info-dark-2 {
  background-color: #b39297;
}

.text-info-dark-3 {
  color: #9d7f84;
}

.text-hover-info-dark-3:hover {
  color: #9d7f84;
}

.bg-info-dark-3 {
  background-color: #9d7f84;
}

.text-info-dark-4 {
  color: #866d71;
}

.text-hover-info-dark-4:hover {
  color: #866d71;
}

.bg-info-dark-4 {
  background-color: #866d71;
}

.text-info-dark-5 {
  color: #705b5f;
}

.text-hover-info-dark-5:hover {
  color: #705b5f;
}

.bg-info-dark-5 {
  background-color: #705b5f;
}

.text-info-dark-6 {
  color: #5a494c;
}

.text-hover-info-dark-6:hover {
  color: #5a494c;
}

.bg-info-dark-6 {
  background-color: #5a494c;
}

.text-info-dark-7 {
  color: #433739;
}

.text-hover-info-dark-7:hover {
  color: #433739;
}

.bg-info-dark-7 {
  background-color: #433739;
}

.text-info-dark-8 {
  color: #2d2426;
}

.text-hover-info-dark-8:hover {
  color: #2d2426;
}

.bg-info-dark-8 {
  background-color: #2d2426;
}

.text-info-dark-9 {
  color: #161213;
}

.text-hover-info-dark-9:hover {
  color: #161213;
}

.bg-info-dark-9 {
  background-color: #161213;
}

.text-error {
  color: #983051;
}

.text-hover-error:hover {
  color: #983051;
}

.bg-error {
  background-color: #983051;
}

.text-error-light-1 {
  color: #a24562;
}

.text-hover-error-light-1:hover {
  color: #a24562;
}

.bg-error-light-1 {
  background-color: #a24562;
}

.text-error-light-2 {
  color: #ad5974;
}

.text-hover-error-light-2:hover {
  color: #ad5974;
}

.bg-error-light-2 {
  background-color: #ad5974;
}

.text-error-light-3 {
  color: #b76e85;
}

.text-hover-error-light-3:hover {
  color: #b76e85;
}

.bg-error-light-3 {
  background-color: #b76e85;
}

.text-error-light-4 {
  color: #c18397;
}

.text-hover-error-light-4:hover {
  color: #c18397;
}

.bg-error-light-4 {
  background-color: #c18397;
}

.text-error-light-5 {
  color: #cc98a8;
}

.text-hover-error-light-5:hover {
  color: #cc98a8;
}

.bg-error-light-5 {
  background-color: #cc98a8;
}

.text-error-light-6 {
  color: #d6acb9;
}

.text-hover-error-light-6:hover {
  color: #d6acb9;
}

.bg-error-light-6 {
  background-color: #d6acb9;
}

.text-error-light-7 {
  color: #e0c1cb;
}

.text-hover-error-light-7:hover {
  color: #e0c1cb;
}

.bg-error-light-7 {
  background-color: #e0c1cb;
}

.text-error-light-8 {
  color: #ead6dc;
}

.text-hover-error-light-8:hover {
  color: #ead6dc;
}

.bg-error-light-8 {
  background-color: #ead6dc;
}

.text-error-light-9 {
  color: #f5eaee;
}

.text-hover-error-light-9:hover {
  color: #f5eaee;
}

.bg-error-light-9 {
  background-color: #f5eaee;
}

.text-error-dark-1 {
  color: #892b49;
}

.text-hover-error-dark-1:hover {
  color: #892b49;
}

.bg-error-dark-1 {
  background-color: #892b49;
}

.text-error-dark-2 {
  color: #7a2641;
}

.text-hover-error-dark-2:hover {
  color: #7a2641;
}

.bg-error-dark-2 {
  background-color: #7a2641;
}

.text-error-dark-3 {
  color: #6a2239;
}

.text-hover-error-dark-3:hover {
  color: #6a2239;
}

.bg-error-dark-3 {
  background-color: #6a2239;
}

.text-error-dark-4 {
  color: #5b1d31;
}

.text-hover-error-dark-4:hover {
  color: #5b1d31;
}

.bg-error-dark-4 {
  background-color: #5b1d31;
}

.text-error-dark-5 {
  color: #4c1829;
}

.text-hover-error-dark-5:hover {
  color: #4c1829;
}

.bg-error-dark-5 {
  background-color: #4c1829;
}

.text-error-dark-6 {
  color: #3d1320;
}

.text-hover-error-dark-6:hover {
  color: #3d1320;
}

.bg-error-dark-6 {
  background-color: #3d1320;
}

.text-error-dark-7 {
  color: #2e0e18;
}

.text-hover-error-dark-7:hover {
  color: #2e0e18;
}

.bg-error-dark-7 {
  background-color: #2e0e18;
}

.text-error-dark-8 {
  color: #1e0a10;
}

.text-hover-error-dark-8:hover {
  color: #1e0a10;
}

.bg-error-dark-8 {
  background-color: #1e0a10;
}

.text-error-dark-9 {
  color: #0f0508;
}

.text-hover-error-dark-9:hover {
  color: #0f0508;
}

.bg-error-dark-9 {
  background-color: #0f0508;
}

.text-blue {
  color: #268291;
}

.text-hover-blue:hover {
  color: #268291;
}

.bg-blue {
  background-color: #268291;
}

.text-blue-light-1 {
  color: #3c8f9c;
}

.text-hover-blue-light-1:hover {
  color: #3c8f9c;
}

.bg-blue-light-1 {
  background-color: #3c8f9c;
}

.text-blue-light-2 {
  color: #519ba7;
}

.text-hover-blue-light-2:hover {
  color: #519ba7;
}

.bg-blue-light-2 {
  background-color: #519ba7;
}

.text-blue-light-3 {
  color: #67a8b2;
}

.text-hover-blue-light-3:hover {
  color: #67a8b2;
}

.bg-blue-light-3 {
  background-color: #67a8b2;
}

.text-blue-light-4 {
  color: #7db4bd;
}

.text-hover-blue-light-4:hover {
  color: #7db4bd;
}

.bg-blue-light-4 {
  background-color: #7db4bd;
}

.text-blue-light-5 {
  color: #93c1c8;
}

.text-hover-blue-light-5:hover {
  color: #93c1c8;
}

.bg-blue-light-5 {
  background-color: #93c1c8;
}

.text-blue-light-6 {
  color: #a8cdd3;
}

.text-hover-blue-light-6:hover {
  color: #a8cdd3;
}

.bg-blue-light-6 {
  background-color: #a8cdd3;
}

.text-blue-light-7 {
  color: #bedade;
}

.text-hover-blue-light-7:hover {
  color: #bedade;
}

.bg-blue-light-7 {
  background-color: #bedade;
}

.text-blue-light-8 {
  color: #d4e6e9;
}

.text-hover-blue-light-8:hover {
  color: #d4e6e9;
}

.bg-blue-light-8 {
  background-color: #d4e6e9;
}

.text-blue-light-9 {
  color: #e9f3f4;
}

.text-hover-blue-light-9:hover {
  color: #e9f3f4;
}

.bg-blue-light-9 {
  background-color: #e9f3f4;
}

.text-blue-dark-1 {
  color: #227583;
}

.text-hover-blue-dark-1:hover {
  color: #227583;
}

.bg-blue-dark-1 {
  background-color: #227583;
}

.text-blue-dark-2 {
  color: #1e6874;
}

.text-hover-blue-dark-2:hover {
  color: #1e6874;
}

.bg-blue-dark-2 {
  background-color: #1e6874;
}

.text-blue-dark-3 {
  color: #1b5b66;
}

.text-hover-blue-dark-3:hover {
  color: #1b5b66;
}

.bg-blue-dark-3 {
  background-color: #1b5b66;
}

.text-blue-dark-4 {
  color: #174e57;
}

.text-hover-blue-dark-4:hover {
  color: #174e57;
}

.bg-blue-dark-4 {
  background-color: #174e57;
}

.text-blue-dark-5 {
  color: #134149;
}

.text-hover-blue-dark-5:hover {
  color: #134149;
}

.bg-blue-dark-5 {
  background-color: #134149;
}

.text-blue-dark-6 {
  color: #0f343a;
}

.text-hover-blue-dark-6:hover {
  color: #0f343a;
}

.bg-blue-dark-6 {
  background-color: #0f343a;
}

.text-blue-dark-7 {
  color: #0b272c;
}

.text-hover-blue-dark-7:hover {
  color: #0b272c;
}

.bg-blue-dark-7 {
  background-color: #0b272c;
}

.text-blue-dark-8 {
  color: #081a1d;
}

.text-hover-blue-dark-8:hover {
  color: #081a1d;
}

.bg-blue-dark-8 {
  background-color: #081a1d;
}

.text-blue-dark-9 {
  color: #040d0f;
}

.text-hover-blue-dark-9:hover {
  color: #040d0f;
}

.bg-blue-dark-9 {
  background-color: #040d0f;
}

.text-red {
  color: #c4414c;
}

.text-hover-red:hover {
  color: #c4414c;
}

.bg-red {
  background-color: #c4414c;
}

.text-red-light-1 {
  color: #ca545e;
}

.text-hover-red-light-1:hover {
  color: #ca545e;
}

.bg-red-light-1 {
  background-color: #ca545e;
}

.text-red-light-2 {
  color: #d06770;
}

.text-hover-red-light-2:hover {
  color: #d06770;
}

.bg-red-light-2 {
  background-color: #d06770;
}

.text-red-light-3 {
  color: #d67a82;
}

.text-hover-red-light-3:hover {
  color: #d67a82;
}

.bg-red-light-3 {
  background-color: #d67a82;
}

.text-red-light-4 {
  color: #dc8d94;
}

.text-hover-red-light-4:hover {
  color: #dc8d94;
}

.bg-red-light-4 {
  background-color: #dc8d94;
}

.text-red-light-5 {
  color: #e2a0a6;
}

.text-hover-red-light-5:hover {
  color: #e2a0a6;
}

.bg-red-light-5 {
  background-color: #e2a0a6;
}

.text-red-light-6 {
  color: #e7b3b7;
}

.text-hover-red-light-6:hover {
  color: #e7b3b7;
}

.bg-red-light-6 {
  background-color: #e7b3b7;
}

.text-red-light-7 {
  color: #edc6c9;
}

.text-hover-red-light-7:hover {
  color: #edc6c9;
}

.bg-red-light-7 {
  background-color: #edc6c9;
}

.text-red-light-8 {
  color: #f3d9db;
}

.text-hover-red-light-8:hover {
  color: #f3d9db;
}

.bg-red-light-8 {
  background-color: #f3d9db;
}

.text-red-light-9 {
  color: #f9eced;
}

.text-hover-red-light-9:hover {
  color: #f9eced;
}

.bg-red-light-9 {
  background-color: #f9eced;
}

.text-red-dark-1 {
  color: #b03b44;
}

.text-hover-red-dark-1:hover {
  color: #b03b44;
}

.bg-red-dark-1 {
  background-color: #b03b44;
}

.text-red-dark-2 {
  color: #9d343d;
}

.text-hover-red-dark-2:hover {
  color: #9d343d;
}

.bg-red-dark-2 {
  background-color: #9d343d;
}

.text-red-dark-3 {
  color: #892e35;
}

.text-hover-red-dark-3:hover {
  color: #892e35;
}

.bg-red-dark-3 {
  background-color: #892e35;
}

.text-red-dark-4 {
  color: #76272e;
}

.text-hover-red-dark-4:hover {
  color: #76272e;
}

.bg-red-dark-4 {
  background-color: #76272e;
}

.text-red-dark-5 {
  color: #622126;
}

.text-hover-red-dark-5:hover {
  color: #622126;
}

.bg-red-dark-5 {
  background-color: #622126;
}

.text-red-dark-6 {
  color: #4e1a1e;
}

.text-hover-red-dark-6:hover {
  color: #4e1a1e;
}

.bg-red-dark-6 {
  background-color: #4e1a1e;
}

.text-red-dark-7 {
  color: #3b1417;
}

.text-hover-red-dark-7:hover {
  color: #3b1417;
}

.bg-red-dark-7 {
  background-color: #3b1417;
}

.text-red-dark-8 {
  color: #270d0f;
}

.text-hover-red-dark-8:hover {
  color: #270d0f;
}

.bg-red-dark-8 {
  background-color: #270d0f;
}

.text-red-dark-9 {
  color: #140708;
}

.text-hover-red-dark-9:hover {
  color: #140708;
}

.bg-red-dark-9 {
  background-color: #140708;
}

.text-yellow {
  color: #e8e060;
}

.text-hover-yellow:hover {
  color: #e8e060;
}

.bg-yellow {
  background-color: #e8e060;
}

.text-yellow-light-1 {
  color: #eae370;
}

.text-hover-yellow-light-1:hover {
  color: #eae370;
}

.bg-yellow-light-1 {
  background-color: #eae370;
}

.text-yellow-light-2 {
  color: #ede680;
}

.text-hover-yellow-light-2:hover {
  color: #ede680;
}

.bg-yellow-light-2 {
  background-color: #ede680;
}

.text-yellow-light-3 {
  color: #efe990;
}

.text-hover-yellow-light-3:hover {
  color: #efe990;
}

.bg-yellow-light-3 {
  background-color: #efe990;
}

.text-yellow-light-4 {
  color: #f1eca0;
}

.text-hover-yellow-light-4:hover {
  color: #f1eca0;
}

.bg-yellow-light-4 {
  background-color: #f1eca0;
}

.text-yellow-light-5 {
  color: #f4f0b0;
}

.text-hover-yellow-light-5:hover {
  color: #f4f0b0;
}

.bg-yellow-light-5 {
  background-color: #f4f0b0;
}

.text-yellow-light-6 {
  color: #f6f3bf;
}

.text-hover-yellow-light-6:hover {
  color: #f6f3bf;
}

.bg-yellow-light-6 {
  background-color: #f6f3bf;
}

.text-yellow-light-7 {
  color: #f8f6cf;
}

.text-hover-yellow-light-7:hover {
  color: #f8f6cf;
}

.bg-yellow-light-7 {
  background-color: #f8f6cf;
}

.text-yellow-light-8 {
  color: #faf9df;
}

.text-hover-yellow-light-8:hover {
  color: #faf9df;
}

.bg-yellow-light-8 {
  background-color: #faf9df;
}

.text-yellow-light-9 {
  color: #fdfcef;
}

.text-hover-yellow-light-9:hover {
  color: #fdfcef;
}

.bg-yellow-light-9 {
  background-color: #fdfcef;
}

.text-yellow-dark-1 {
  color: #d1ca56;
}

.text-hover-yellow-dark-1:hover {
  color: #d1ca56;
}

.bg-yellow-dark-1 {
  background-color: #d1ca56;
}

.text-yellow-dark-2 {
  color: #bab34d;
}

.text-hover-yellow-dark-2:hover {
  color: #bab34d;
}

.bg-yellow-dark-2 {
  background-color: #bab34d;
}

.text-yellow-dark-3 {
  color: #a29d43;
}

.text-hover-yellow-dark-3:hover {
  color: #a29d43;
}

.bg-yellow-dark-3 {
  background-color: #a29d43;
}

.text-yellow-dark-4 {
  color: #8b863a;
}

.text-hover-yellow-dark-4:hover {
  color: #8b863a;
}

.bg-yellow-dark-4 {
  background-color: #8b863a;
}

.text-yellow-dark-5 {
  color: #747030;
}

.text-hover-yellow-dark-5:hover {
  color: #747030;
}

.bg-yellow-dark-5 {
  background-color: #747030;
}

.text-yellow-dark-6 {
  color: #5d5a26;
}

.text-hover-yellow-dark-6:hover {
  color: #5d5a26;
}

.bg-yellow-dark-6 {
  background-color: #5d5a26;
}

.text-yellow-dark-7 {
  color: #46431d;
}

.text-hover-yellow-dark-7:hover {
  color: #46431d;
}

.bg-yellow-dark-7 {
  background-color: #46431d;
}

.text-yellow-dark-8 {
  color: #2e2d13;
}

.text-hover-yellow-dark-8:hover {
  color: #2e2d13;
}

.bg-yellow-dark-8 {
  background-color: #2e2d13;
}

.text-yellow-dark-9 {
  color: #17160a;
}

.text-hover-yellow-dark-9:hover {
  color: #17160a;
}

.bg-yellow-dark-9 {
  background-color: #17160a;
}

.text-green {
  color: #4e7a29;
}

.text-hover-green:hover {
  color: #4e7a29;
}

.bg-green {
  background-color: #4e7a29;
}

.text-green-light-1 {
  color: #60873e;
}

.text-hover-green-light-1:hover {
  color: #60873e;
}

.bg-green-light-1 {
  background-color: #60873e;
}

.text-green-light-2 {
  color: #719554;
}

.text-hover-green-light-2:hover {
  color: #719554;
}

.bg-green-light-2 {
  background-color: #719554;
}

.text-green-light-3 {
  color: #83a269;
}

.text-hover-green-light-3:hover {
  color: #83a269;
}

.bg-green-light-3 {
  background-color: #83a269;
}

.text-green-light-4 {
  color: #95af7f;
}

.text-hover-green-light-4:hover {
  color: #95af7f;
}

.bg-green-light-4 {
  background-color: #95af7f;
}

.text-green-light-5 {
  color: #a7bd94;
}

.text-hover-green-light-5:hover {
  color: #a7bd94;
}

.bg-green-light-5 {
  background-color: #a7bd94;
}

.text-green-light-6 {
  color: #b8caa9;
}

.text-hover-green-light-6:hover {
  color: #b8caa9;
}

.bg-green-light-6 {
  background-color: #b8caa9;
}

.text-green-light-7 {
  color: #cad7bf;
}

.text-hover-green-light-7:hover {
  color: #cad7bf;
}

.bg-green-light-7 {
  background-color: #cad7bf;
}

.text-green-light-8 {
  color: #dce4d4;
}

.text-hover-green-light-8:hover {
  color: #dce4d4;
}

.bg-green-light-8 {
  background-color: #dce4d4;
}

.text-green-light-9 {
  color: #edf2ea;
}

.text-hover-green-light-9:hover {
  color: #edf2ea;
}

.bg-green-light-9 {
  background-color: #edf2ea;
}

.text-green-dark-1 {
  color: #466e25;
}

.text-hover-green-dark-1:hover {
  color: #466e25;
}

.bg-green-dark-1 {
  background-color: #466e25;
}

.text-green-dark-2 {
  color: #3e6221;
}

.text-hover-green-dark-2:hover {
  color: #3e6221;
}

.bg-green-dark-2 {
  background-color: #3e6221;
}

.text-green-dark-3 {
  color: #37551d;
}

.text-hover-green-dark-3:hover {
  color: #37551d;
}

.bg-green-dark-3 {
  background-color: #37551d;
}

.text-green-dark-4 {
  color: #2f4919;
}

.text-hover-green-dark-4:hover {
  color: #2f4919;
}

.bg-green-dark-4 {
  background-color: #2f4919;
}

.text-green-dark-5 {
  color: #273d15;
}

.text-hover-green-dark-5:hover {
  color: #273d15;
}

.bg-green-dark-5 {
  background-color: #273d15;
}

.text-green-dark-6 {
  color: #1f3110;
}

.text-hover-green-dark-6:hover {
  color: #1f3110;
}

.bg-green-dark-6 {
  background-color: #1f3110;
}

.text-green-dark-7 {
  color: #17250c;
}

.text-hover-green-dark-7:hover {
  color: #17250c;
}

.bg-green-dark-7 {
  background-color: #17250c;
}

.text-green-dark-8 {
  color: #101808;
}

.text-hover-green-dark-8:hover {
  color: #101808;
}

.bg-green-dark-8 {
  background-color: #101808;
}

.text-green-dark-9 {
  color: #080c04;
}

.text-hover-green-dark-9:hover {
  color: #080c04;
}

.bg-green-dark-9 {
  background-color: #080c04;
}

.text-pink {
  color: #e1707d;
}

.text-hover-pink:hover {
  color: #e1707d;
}

.bg-pink {
  background-color: #e1707d;
}

.text-pink-light-1 {
  color: #e47e8a;
}

.text-hover-pink-light-1:hover {
  color: #e47e8a;
}

.bg-pink-light-1 {
  background-color: #e47e8a;
}

.text-pink-light-2 {
  color: #e78d97;
}

.text-hover-pink-light-2:hover {
  color: #e78d97;
}

.bg-pink-light-2 {
  background-color: #e78d97;
}

.text-pink-light-3 {
  color: #ea9ba4;
}

.text-hover-pink-light-3:hover {
  color: #ea9ba4;
}

.bg-pink-light-3 {
  background-color: #ea9ba4;
}

.text-pink-light-4 {
  color: #eda9b1;
}

.text-hover-pink-light-4:hover {
  color: #eda9b1;
}

.bg-pink-light-4 {
  background-color: #eda9b1;
}

.text-pink-light-5 {
  color: #f0b8be;
}

.text-hover-pink-light-5:hover {
  color: #f0b8be;
}

.bg-pink-light-5 {
  background-color: #f0b8be;
}

.text-pink-light-6 {
  color: #f3c6cb;
}

.text-hover-pink-light-6:hover {
  color: #f3c6cb;
}

.bg-pink-light-6 {
  background-color: #f3c6cb;
}

.text-pink-light-7 {
  color: #f6d4d8;
}

.text-hover-pink-light-7:hover {
  color: #f6d4d8;
}

.bg-pink-light-7 {
  background-color: #f6d4d8;
}

.text-pink-light-8 {
  color: #f9e2e5;
}

.text-hover-pink-light-8:hover {
  color: #f9e2e5;
}

.bg-pink-light-8 {
  background-color: #f9e2e5;
}

.text-pink-light-9 {
  color: #fcf1f2;
}

.text-hover-pink-light-9:hover {
  color: #fcf1f2;
}

.bg-pink-light-9 {
  background-color: #fcf1f2;
}

.text-pink-dark-1 {
  color: #cb6571;
}

.text-hover-pink-dark-1:hover {
  color: #cb6571;
}

.bg-pink-dark-1 {
  background-color: #cb6571;
}

.text-pink-dark-2 {
  color: #b45a64;
}

.text-hover-pink-dark-2:hover {
  color: #b45a64;
}

.bg-pink-dark-2 {
  background-color: #b45a64;
}

.text-pink-dark-3 {
  color: #9e4e58;
}

.text-hover-pink-dark-3:hover {
  color: #9e4e58;
}

.bg-pink-dark-3 {
  background-color: #9e4e58;
}

.text-pink-dark-4 {
  color: #87434b;
}

.text-hover-pink-dark-4:hover {
  color: #87434b;
}

.bg-pink-dark-4 {
  background-color: #87434b;
}

.text-pink-dark-5 {
  color: #71383f;
}

.text-hover-pink-dark-5:hover {
  color: #71383f;
}

.bg-pink-dark-5 {
  background-color: #71383f;
}

.text-pink-dark-6 {
  color: #5a2d32;
}

.text-hover-pink-dark-6:hover {
  color: #5a2d32;
}

.bg-pink-dark-6 {
  background-color: #5a2d32;
}

.text-pink-dark-7 {
  color: #442226;
}

.text-hover-pink-dark-7:hover {
  color: #442226;
}

.bg-pink-dark-7 {
  background-color: #442226;
}

.text-pink-dark-8 {
  color: #2d1619;
}

.text-hover-pink-dark-8:hover {
  color: #2d1619;
}

.bg-pink-dark-8 {
  background-color: #2d1619;
}

.text-pink-dark-9 {
  color: #170b0d;
}

.text-hover-pink-dark-9:hover {
  color: #170b0d;
}

.bg-pink-dark-9 {
  background-color: #170b0d;
}

.text-beige {
  color: #cea78b;
}

.text-hover-beige:hover {
  color: #cea78b;
}

.bg-beige {
  background-color: #cea78b;
}

.text-beige-light-1 {
  color: #d3b097;
}

.text-hover-beige-light-1:hover {
  color: #d3b097;
}

.bg-beige-light-1 {
  background-color: #d3b097;
}

.text-beige-light-2 {
  color: #d8b9a2;
}

.text-hover-beige-light-2:hover {
  color: #d8b9a2;
}

.bg-beige-light-2 {
  background-color: #d8b9a2;
}

.text-beige-light-3 {
  color: #ddc1ae;
}

.text-hover-beige-light-3:hover {
  color: #ddc1ae;
}

.bg-beige-light-3 {
  background-color: #ddc1ae;
}

.text-beige-light-4 {
  color: #e2cab9;
}

.text-hover-beige-light-4:hover {
  color: #e2cab9;
}

.bg-beige-light-4 {
  background-color: #e2cab9;
}

.text-beige-light-5 {
  color: #e7d3c5;
}

.text-hover-beige-light-5:hover {
  color: #e7d3c5;
}

.bg-beige-light-5 {
  background-color: #e7d3c5;
}

.text-beige-light-6 {
  color: #ebdcd1;
}

.text-hover-beige-light-6:hover {
  color: #ebdcd1;
}

.bg-beige-light-6 {
  background-color: #ebdcd1;
}

.text-beige-light-7 {
  color: #f0e5dc;
}

.text-hover-beige-light-7:hover {
  color: #f0e5dc;
}

.bg-beige-light-7 {
  background-color: #f0e5dc;
}

.text-beige-light-8 {
  color: #f5ede8;
}

.text-hover-beige-light-8:hover {
  color: #f5ede8;
}

.bg-beige-light-8 {
  background-color: #f5ede8;
}

.text-beige-light-9 {
  color: #faf6f3;
}

.text-hover-beige-light-9:hover {
  color: #faf6f3;
}

.bg-beige-light-9 {
  background-color: #faf6f3;
}

.text-beige-dark-1 {
  color: #b9967d;
}

.text-hover-beige-dark-1:hover {
  color: #b9967d;
}

.bg-beige-dark-1 {
  background-color: #b9967d;
}

.text-beige-dark-2 {
  color: #a5866f;
}

.text-hover-beige-dark-2:hover {
  color: #a5866f;
}

.bg-beige-dark-2 {
  background-color: #a5866f;
}

.text-beige-dark-3 {
  color: #907561;
}

.text-hover-beige-dark-3:hover {
  color: #907561;
}

.bg-beige-dark-3 {
  background-color: #907561;
}

.text-beige-dark-4 {
  color: #7c6453;
}

.text-hover-beige-dark-4:hover {
  color: #7c6453;
}

.bg-beige-dark-4 {
  background-color: #7c6453;
}

.text-beige-dark-5 {
  color: #675446;
}

.text-hover-beige-dark-5:hover {
  color: #675446;
}

.bg-beige-dark-5 {
  background-color: #675446;
}

.text-beige-dark-6 {
  color: #524338;
}

.text-hover-beige-dark-6:hover {
  color: #524338;
}

.bg-beige-dark-6 {
  background-color: #524338;
}

.text-beige-dark-7 {
  color: #3e322a;
}

.text-hover-beige-dark-7:hover {
  color: #3e322a;
}

.bg-beige-dark-7 {
  background-color: #3e322a;
}

.text-beige-dark-8 {
  color: #29211c;
}

.text-hover-beige-dark-8:hover {
  color: #29211c;
}

.bg-beige-dark-8 {
  background-color: #29211c;
}

.text-beige-dark-9 {
  color: #15110e;
}

.text-hover-beige-dark-9:hover {
  color: #15110e;
}

.bg-beige-dark-9 {
  background-color: #15110e;
}

.text-brown {
  color: #644133;
}

.text-hover-brown:hover {
  color: #644133;
}

.bg-brown {
  background-color: #644133;
}

.text-brown-light-1 {
  color: #745447;
}

.text-hover-brown-light-1:hover {
  color: #745447;
}

.bg-brown-light-1 {
  background-color: #745447;
}

.text-brown-light-2 {
  color: #83675c;
}

.text-hover-brown-light-2:hover {
  color: #83675c;
}

.bg-brown-light-2 {
  background-color: #83675c;
}

.text-brown-light-3 {
  color: #937a70;
}

.text-hover-brown-light-3:hover {
  color: #937a70;
}

.bg-brown-light-3 {
  background-color: #937a70;
}

.text-brown-light-4 {
  color: #a28d85;
}

.text-hover-brown-light-4:hover {
  color: #a28d85;
}

.bg-brown-light-4 {
  background-color: #a28d85;
}

.text-brown-light-5 {
  color: #b2a099;
}

.text-hover-brown-light-5:hover {
  color: #b2a099;
}

.bg-brown-light-5 {
  background-color: #b2a099;
}

.text-brown-light-6 {
  color: #c1b3ad;
}

.text-hover-brown-light-6:hover {
  color: #c1b3ad;
}

.bg-brown-light-6 {
  background-color: #c1b3ad;
}

.text-brown-light-7 {
  color: #d1c6c2;
}

.text-hover-brown-light-7:hover {
  color: #d1c6c2;
}

.bg-brown-light-7 {
  background-color: #d1c6c2;
}

.text-brown-light-8 {
  color: #e0d9d6;
}

.text-hover-brown-light-8:hover {
  color: #e0d9d6;
}

.bg-brown-light-8 {
  background-color: #e0d9d6;
}

.text-brown-light-9 {
  color: #f0eceb;
}

.text-hover-brown-light-9:hover {
  color: #f0eceb;
}

.bg-brown-light-9 {
  background-color: #f0eceb;
}

.text-brown-dark-1 {
  color: #5a3b2e;
}

.text-hover-brown-dark-1:hover {
  color: #5a3b2e;
}

.bg-brown-dark-1 {
  background-color: #5a3b2e;
}

.text-brown-dark-2 {
  color: #503429;
}

.text-hover-brown-dark-2:hover {
  color: #503429;
}

.bg-brown-dark-2 {
  background-color: #503429;
}

.text-brown-dark-3 {
  color: #462e24;
}

.text-hover-brown-dark-3:hover {
  color: #462e24;
}

.bg-brown-dark-3 {
  background-color: #462e24;
}

.text-brown-dark-4 {
  color: #3c271f;
}

.text-hover-brown-dark-4:hover {
  color: #3c271f;
}

.bg-brown-dark-4 {
  background-color: #3c271f;
}

.text-brown-dark-5 {
  color: #32211a;
}

.text-hover-brown-dark-5:hover {
  color: #32211a;
}

.bg-brown-dark-5 {
  background-color: #32211a;
}

.text-brown-dark-6 {
  color: #281a14;
}

.text-hover-brown-dark-6:hover {
  color: #281a14;
}

.bg-brown-dark-6 {
  background-color: #281a14;
}

.text-brown-dark-7 {
  color: #1e140f;
}

.text-hover-brown-dark-7:hover {
  color: #1e140f;
}

.bg-brown-dark-7 {
  background-color: #1e140f;
}

.text-brown-dark-8 {
  color: #140d0a;
}

.text-hover-brown-dark-8:hover {
  color: #140d0a;
}

.bg-brown-dark-8 {
  background-color: #140d0a;
}

.text-brown-dark-9 {
  color: #0a0705;
}

.text-hover-brown-dark-9:hover {
  color: #0a0705;
}

.bg-brown-dark-9 {
  background-color: #0a0705;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.btn {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #e2e2e2;
  box-sizing: border-box;
}

.btn-primary {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #4e7261;
  box-sizing: border-box;
}
.btn-primary:hover {
  background-color: #58816e;
}

.btn-outlined-primary {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #4e7261;
}
.btn-outlined-primary:hover {
  background-color: #4e7261;
}

.btn-complement-primary {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #4e7261;
  box-sizing: border-box;
  color: #bc9dac;
}
.btn-complement-primary:hover {
  color: #4e7261;
  background-color: #bc9dac;
}

.btn-secondary {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #937e81;
  box-sizing: border-box;
}
.btn-secondary:hover {
  background-color: #9f8c8f;
}

.btn-outlined-secondary {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #937e81;
}
.btn-outlined-secondary:hover {
  background-color: #937e81;
}

.btn-complement-secondary {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #937e81;
  box-sizing: border-box;
  color: #d1d9d8;
}
.btn-complement-secondary:hover {
  color: #937e81;
  background-color: #d1d9d8;
}

.btn-info {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #e0b6bd;
  box-sizing: border-box;
}
.btn-info:hover {
  background-color: #e8c8cd;
}

.btn-outlined-info {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #e0b6bd;
}
.btn-outlined-info:hover {
  background-color: #e0b6bd;
}

.btn-complement-info {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #e0b6bd;
  box-sizing: border-box;
  color: white;
}
.btn-complement-info:hover {
  color: #e0b6bd;
  background-color: white;
}

.btn-error {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #983051;
  box-sizing: border-box;
}
.btn-error:hover {
  background-color: #ab365b;
}

.btn-outlined-error {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #983051;
}
.btn-outlined-error:hover {
  background-color: #983051;
}

.btn-complement-error {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #983051;
  box-sizing: border-box;
  color: #88d9bf;
}
.btn-complement-error:hover {
  color: #983051;
  background-color: #88d9bf;
}

.btn-blue {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #268291;
  box-sizing: border-box;
}
.btn-blue:hover {
  background-color: #2b94a5;
}

.btn-outlined-blue {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #268291;
}
.btn-outlined-blue:hover {
  background-color: #268291;
}

.btn-complement-blue {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #268291;
  box-sizing: border-box;
  color: #db8375;
}
.btn-complement-blue:hover {
  color: #268291;
  background-color: #db8375;
}

.btn-red {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #c4414c;
  box-sizing: border-box;
}
.btn-red:hover {
  background-color: #ca545e;
}

.btn-outlined-red {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #c4414c;
}
.btn-outlined-red:hover {
  background-color: #c4414c;
}

.btn-complement-red {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #c4414c;
  box-sizing: border-box;
  color: #b6e8e4;
}
.btn-complement-red:hover {
  color: #c4414c;
  background-color: #b6e8e4;
}

.btn-yellow {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #e8e060;
  box-sizing: border-box;
}
.btn-yellow:hover {
  background-color: #ebe476;
}

.btn-outlined-yellow {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #e8e060;
}
.btn-outlined-yellow:hover {
  background-color: #e8e060;
}

.btn-complement-yellow {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #e8e060;
  box-sizing: border-box;
  color: #e6e7fb;
}
.btn-complement-yellow:hover {
  color: #e8e060;
  background-color: #e6e7fb;
}

.btn-green {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #4e7a29;
  box-sizing: border-box;
}
.btn-green:hover {
  background-color: #5a8d2f;
}

.btn-outlined-green {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #4e7a29;
}
.btn-outlined-green:hover {
  background-color: #4e7a29;
}

.btn-complement-green {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #4e7a29;
  box-sizing: border-box;
  color: #a26ece;
}
.btn-complement-green:hover {
  color: #4e7a29;
  background-color: #a26ece;
}

.btn-pink {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #e1707d;
  box-sizing: border-box;
}
.btn-pink:hover {
  background-color: #e58590;
}

.btn-outlined-pink {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #e1707d;
}
.btn-outlined-pink:hover {
  background-color: #e1707d;
}

.btn-complement-pink {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #e1707d;
  box-sizing: border-box;
  color: #eefcfa;
}
.btn-complement-pink:hover {
  color: #e1707d;
  background-color: #eefcfa;
}

.btn-beige {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #cea78b;
  box-sizing: border-box;
}
.btn-beige:hover {
  background-color: #d6b59d;
}

.btn-outlined-beige {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #cea78b;
}
.btn-outlined-beige:hover {
  background-color: #cea78b;
}

.btn-complement-beige {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #cea78b;
  box-sizing: border-box;
  color: #f7f9fb;
}
.btn-complement-beige:hover {
  color: #cea78b;
  background-color: #f7f9fb;
}

.btn-brown {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #644133;
  box-sizing: border-box;
}
.btn-brown:hover {
  background-color: #754c3c;
}

.btn-outlined-brown {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #644133;
}
.btn-outlined-brown:hover {
  background-color: #644133;
}

.btn-complement-brown {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #644133;
  box-sizing: border-box;
  color: #77a6b9;
}
.btn-complement-brown:hover {
  color: #644133;
  background-color: #77a6b9;
}

.btn-white {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid white;
}
.btn-outlined-white:hover {
  background-color: white;
}

.btn-complement-white {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: white;
  box-sizing: border-box;
  color: white;
}
.btn-complement-white:hover {
  color: white;
  background-color: white;
}

.btn-black {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: black;
  box-sizing: border-box;
}
.btn-black:hover {
  background-color: #0d0d0d;
}

.btn-outlined-black {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1.5px solid black;
}
.btn-outlined-black:hover {
  background-color: black;
}

.btn-complement-black {
  text-decoration: none;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: black;
  box-sizing: border-box;
  color: #4d4d4d;
}
.btn-complement-black:hover {
  color: black;
  background-color: #4d4d4d;
}

.card {
  display: block;
  padding: 0.75em;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75em;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.nav-card {
  min-width: 250px;
}
.nav-card .card-title {
  background-color: #fff;
  text-align: center;
  margin-top: 10px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}
.nav-card .card-image {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.nav-card .card-image img {
  width: 100%;
}
.nav-card .water-drop {
  padding: 2px;
  position: relative;
  margin-left: auto;
  margin-top: -30px;
  width: 40px;
  height: 40px;
}
.nav-card .water-drop p {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 13px;
}
.nav-card .water-drop .wet {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #5382d8;
  border-radius: 50%;
}
.nav-card .water-drop .wet img {
  filter: invert(100%);
}
.nav-card .water-drop .dry {
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #d64b39;
  border-radius: 50%;
}
.nav-card .water-drop .dry img {
  filter: invert(100%);
}
.nav-card .water-drop img {
  filter: invert(30%);
  width: 100%;
}

.navbar {
  width: 100%;
  padding: 30px 0;
  box-sizing: border-box;
  margin-bottom: 80px;
  position: sticky;
}
.navbar .logo {
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar .logo a {
  display: flex;
  align-items: center;
}
.navbar .logo img {
  margin-right: 10px;
  filter: invert(25%);
  width: 36px;
  margin-top: -8px;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
}
.navbar ul a {
  margin-right: 20px;
  color: #333;
}
.navbar ul button {
  font: inherit;
  padding: 4px 10px;
}

.sidebar {
  width: 200px;
  min-width: 200px;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  padding-right: 30px;
}
.sidebar .sidebar-content {
  position: fixed;
  width: inherit;
}
.sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px 30px;
}
.sidebar .links {
  margin-top: 80px;
  margin-right: 30px;
}
.sidebar .links li {
  margin-top: 20px;
}
.sidebar .links a {
  display: flex;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.sidebar .links img {
  margin-right: 10px;
  filter: invert(40%);
}
.sidebar .links a.active {
  color: white;
  background-color: #937e81;
  border-radius: 0 20px 20px 0;
}
.sidebar .links .active img {
  filter: invert(100%);
}

.form {
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.form .section {
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 8px;
  margin-top: 34px;
}
.form label {
  display: block;
  margin: 0px auto 24px;
}
.form label span {
  display: block;
  margin-bottom: 6px;
}
.form label input {
  width: 100%;
  padding: 8px 6px;
  font-size: 1rem;
  color: #777;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.form label textarea {
  width: 100%;
  padding: 8px 6px;
  min-height: 60px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.form label select {
  width: 100%;
  padding: 8px 6px;
  font-size: 1rem;
  color: #777;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.auth-form {
  max-width: 360px;
}

.plant-form {
  max-width: 640px;
}

.input-with-add {
  display: flex;
  align-items: center;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75em;
}

.p-2 {
  padding: 1.5em;
}

.p-3 {
  padding: 3em;
}

.p-4 {
  padding: 4.5em;
}

.p-5 {
  padding: 6em;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75em;
}

.pl-2 {
  padding-left: 1.5em;
}

.pl-3 {
  padding-left: 3em;
}

.pl-4 {
  padding-left: 4.5em;
}

.pl-5 {
  padding-left: 6em;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75em;
}

.pr-2 {
  padding-right: 1.5em;
}

.pr-3 {
  padding-right: 3em;
}

.pr-4 {
  padding-right: 4.5em;
}

.pr-5 {
  padding-right: 6em;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75em;
}

.pt-2 {
  padding-top: 1.5em;
}

.pt-3 {
  padding-top: 3em;
}

.pt-4 {
  padding-top: 4.5em;
}

.pt-5 {
  padding-top: 6em;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75em;
}

.pb-2 {
  padding-bottom: 1.5em;
}

.pb-3 {
  padding-bottom: 3em;
}

.pb-4 {
  padding-bottom: 4.5em;
}

.pb-5 {
  padding-bottom: 6em;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75em;
}

.m-2 {
  margin: 1.5em;
}

.m-3 {
  margin: 3em;
}

.m-4 {
  margin: 4.5em;
}

.m-5 {
  margin: 6em;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75em;
}

.ml-2 {
  margin-left: 1.5em;
}

.ml-3 {
  margin-left: 3em;
}

.ml-4 {
  margin-left: 4.5em;
}

.ml-5 {
  margin-left: 6em;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75em;
}

.mr-2 {
  margin-right: 1.5em;
}

.mr-3 {
  margin-right: 3em;
}

.mr-4 {
  margin-right: 4.5em;
}

.mr-5 {
  margin-right: 6em;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75em;
}

.mt-2 {
  margin-top: 1.5em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-4 {
  margin-top: 4.5em;
}

.mt-5 {
  margin-top: 6em;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75em;
}

.mb-2 {
  margin-bottom: 1.5em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4.5em;
}

.mb-5 {
  margin-bottom: 6em;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 4px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 1px;
}

.br-sm {
  border-radius: 2px;
}

.br-lg {
  border-radius: 8px;
}

.br-full {
  border-radius: 50%;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}

.center-self {
  display: block;
  margin: 0 auto;
  text-align: center;
}